<h1>Delete a note</h1>

<% @notes.each_with_index do |note, index| %>
	<p><%= (index + 1).to_s + " - " + note.title %></p>
<% end %>

<br><br>

<form action="/delete" method="POST">
	<p>Enter the title to delete:</p>
	<input type="text", name="title">
	<input type="submit">
</form>