<div class="container">
  <h1>Welcome to Sinatra!</h1>
  <p>Sinatra RESTful CRUD</p>
  <p>A simple demonstartion of get and post requests within Sinatra</p>


  <a href="/create">Create a note</a>
  <a href="/read">Read all notes</a>
  <a href="/update">Update a note</a>
  <a href="/delete">Delete a note</a>
</div>
